<section class="nav">
    <img src="../../assets/img/logo.png" alt="">
</section>


<section class="info-container">
    <button class="add-user">
        Add user
    </button>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Username</td>
                <td>Email</td>

                <td class="actions-cell">
                    <button class="edit-link">
                        Edit
                    </button>

                    <button class="delete-btn">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
